.hero{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    top: 8rem;
    position: relative;
    overflow: hidden;
}



.showcase-text{
    padding-left: $page-left-m;
    flex-basis: 50%;
}
.showcase-img{
    padding-top: 4rem;
    align-self: flex-end;
    width: 80%;
    flex-basis: 40%;
    
}

.award{
    position: fixed;
    top: 20rem;
    width: 3rem;
    left: 0;
}