.text-left {
  text-align: left; }

*, *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 65%;
  box-sizing: border-box; }

body {
  font-family: "Poppins";
  font-family: "Anonymous Pro";
  line-height: 1.6;
  font-weight: 400;
  color: #222222; }

.heading-primary {
  font-size: 8.3rem;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 1;
  margin: 4rem 0;
  letter-spacing: -.3rem; }

.text-primary {
  font-family: "Anonymous Pro";
  word-spacing: .3rem;
  font-size: 2rem;
  font-weight: 400; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 1.3;
  letter-spacing: -.3rem; }

.header-links {
  font-family: "Poppins"; }
  .header-links__item {
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 700;
    color: #222222; }
    .header-links__item:not(:last-child) {
      padding-right: 6rem; }
  .header-links__item:hover:not(:last-child) {
    text-decoration: none;
    font-weight: 600;
    color: #70da9b; }
  .header-links__item:active {
    text-decoration: none;
    font-weight: 600;
    color: #222222; }

.btn {
  background: #70da9b;
  padding: 2rem 3rem;
  transition: transform .3s ease-in;
  display: inline-block; }
  .btn:hover {
    background: #5fe395;
    transform: translateY(-0.3rem); }

.btn-arrow {
  margin-top: 4rem;
  padding: 2rem;
  background: #70da9b;
  display: inline-block; }

.page-header {
  position: fixed;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem 2rem 5rem;
  z-index: 5000; }

.page-logo {
  width: 4rem;
  height: 4rem; }
  .page-logo img {
    width: 3rem;
    height: 3rem; }

.hero {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  top: 8rem;
  position: relative;
  overflow: hidden; }

.showcase-text {
  padding-left: 5rem;
  flex-basis: 50%; }

.showcase-img {
  padding-top: 4rem;
  align-self: flex-end;
  width: 80%;
  flex-basis: 40%; }

.section-work {
  background: #36083c;
  display: flex;
  color: #fff;
  margin-top: 7.5rem;
  padding: 0;
  align-items: center; }

.section-work-text {
  flex-basis: 70%; }

.section-work-img {
  flex-basis: 30%;
  height: 40rem;
  align-self: flex-start;
  margin: 0; }

.section-work-text-heading {
  font-size: 1.7rem;
  color: #fff;
  width: 60%;
  font-weight: 300;
  background: #36083c;
  padding: 2rem; }

.recent-work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-grid-gap: 4rem;
  grid-gap: 5rem;
  background: red;
  padding: 0 6rem;
  margin-top: 10rem; }
  .recent-work-item {
    background: white; }
