.text-left {
  text-align: left; }

.m-small {
  margin: 2rem; }

.mt-small {
  margin-top: 2rem; }

.mt-big {
  margin-top: 10rem; }

.mt-medium {
  margin-top: 7rem; }

.mr-small {
  margin-top: 2rem; }

.ml-small {
  margin-top: 2rem; }

.mb-small {
  margin-top: 2rem; }

*, *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 65%;
  box-sizing: border-box; }
  @media only screen and (min-width: 122.75rem) {
    html {
      font-size: 70%; } }
  @media only screen and (max-width: 1072px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 956px) {
    html {
      font-size: 47%; } }

body {
  font-family: "Poppins";
  font-family: "Anonymous Pro";
  line-height: 1.6;
  font-weight: 400;
  color: #222222; }

.flex {
  display: flex; }

.heading-primary {
  font-size: 8.3rem;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 1;
  margin: 4rem 0;
  letter-spacing: -.3rem; }

.text-primary {
  font-family: "Anonymous Pro";
  word-spacing: .3rem;
  font-size: 2rem;
  font-weight: 400; }

.text-secondary {
  font-family: "Anonymous Pro";
  word-spacing: .3rem;
  font-size: 1.7rem;
  font-weight: 400; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 1.3;
  letter-spacing: -.1srem; }

.heading-secondary-white {
  color: #fff; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 1.3;
  letter-spacing: -.1rem; }

.header-links {
  font-family: "Poppins";
  display: flex;
  font-size: 3rem;
  align-items: center; }
  @media only screen and (max-width: 956px) {
    .header-links {
      font-size: 5rem;
      width: 100%;
      background: #000;
      position: fixed;
      top: 0;
      padding: 12rem;
      margin: 0;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      right: -100%;
      transition: right .8s ease-in; } }
  .header-links__item {
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 700;
    color: #222222;
    padding: 2rem; }
    @media only screen and (max-width: 956px) {
      .header-links__item {
        color: #fff;
        padding: 4rem; } }
  .header-links__item:hover:not(:last-child) {
    text-decoration: none;
    font-weight: 600;
    color: #70da9b; }
  .header-links__item:active {
    text-decoration: none;
    font-weight: 600;
    color: #222222; }
  .header-links:not(:last-child) {
    padding-right: 6rem; }
    @media only screen and (max-width: 956px) {
      .header-links:not(:last-child) {
        padding-bottom: 12rem;
        text-align: center;
        padding: 0 5rem;
        margin-bottom: 5rem; } }

.footer-link {
  font-size: 3rem;
  font-family: "Poppins";
  font-weight: 700;
  text-decoration: none; }

.footer-link:link, .footer-link:visited {
  color: #DCDCDC; }

.footer-link:hover, .footer-link:active {
  color: #70da9b; }

.footer-social-links {
  display: flex; }

.active {
  right: 0; }

.btn {
  background: #70da9b;
  padding: 2rem 3rem;
  transition: transform .3s ease-in;
  display: inline-block; }
  @media only screen and (max-width: 956px) {
    .btn {
      position: absolute;
      bottom: 10rem;
      width: 80%;
      left: 0;
      text-align: center;
      transform: translateX(12%);
      color: #000; } }
  .btn:hover {
    background: #5fe395;
    transform: translateY(-0.3rem); }

.btn-arrow {
  margin-top: 4rem;
  padding: 2rem;
  background: #70da9b;
  display: inline-block; }

.header-hamburger {
  display: none;
  position: relative; }
  @media only screen and (max-width: 956px) {
    .header-hamburger {
      display: block; } }
  .header-hamburger, .header-hamburger::after, .header-hamburger::before {
    content: "";
    width: 5rem;
    height: .4rem;
    background: #000;
    transition: all .8s; }
  .header-hamburger::after, .header-hamburger::before {
    position: absolute; }
  .header-hamburger::before {
    top: 1.5rem;
    left: 0; }
  .header-hamburger::after {
    top: -1.5rem;
    left: 0; }

.active::before {
  content: "";
  transform: rotate(405deg);
  top: 0;
  background-color: #fff; }

.active::after {
  content: "";
  transform: rotate(-405deg);
  top: 0;
  background-color: #fff; }

.page-header {
  position: sticky;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 2rem 7rem;
  z-index: 5000;
  left: 0; }

.page-logo {
  width: 4rem;
  height: 4rem; }
  .page-logo img {
    width: 3rem;
    height: 3rem; }

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto; } }

.hero {
  display: flex;
  justify-content: space-between;
  top: 8rem;
  position: relative;
  overflow: hidden;
  align-items: center; }
  @media only screen and (max-width: 652px) {
    .hero {
      flex-direction: column; } }

.showcase-text {
  padding-left: 7rem;
  flex-basis: 50%;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
  align-self: flex-start; }

.showcase-img {
  padding-top: 4rem;
  align-self: flex-end;
  width: 80%;
  flex-basis: 40%; }
  @media only screen and (max-width: 122.75rem) {
    .showcase-img {
      padding-top: 0; } }
  @media only screen and (max-width: 652px) {
    .showcase-img {
      width: 100%;
      object-fit: 50%; } }

.award {
  position: fixed;
  top: 20rem;
  width: 3rem;
  left: 0;
  z-index: 100000; }

.d-none {
  display: block; }
  @media only screena and (max-width: 652px) {
    .d-none {
      display: none; } }

.section-work {
  background: #36083c;
  display: flex;
  color: #fff;
  margin-top: 7.5rem;
  padding: 0;
  align-items: center; }
  @media only screen and (max-width: 652px) {
    .section-work {
      justify-content: center;
      padding: 6rem; } }

.section-work-text {
  flex-basis: 70%; }
  @media only screen and (max-width: 652px) {
    .section-work-text {
      flex-basis: 100%;
      text-align: center; } }

.section-work-img {
  flex-basis: 30%;
  height: 40rem;
  align-self: flex-start;
  margin: 0; }
  @media only screen and (max-width: 652px) {
    .section-work-img {
      display: none; } }

.section-work-text-heading {
  font-size: 1.9rem;
  color: #fff;
  width: 60%;
  font-weight: 300;
  background: #36083c;
  padding: 2rem; }
  @media only screen and (max-width: 652px) {
    .section-work-text-heading {
      width: 100%;
      text-align: center;
      padding: 8rem; } }

.recent-work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-grid-gap: 4rem;
  grid-gap: 5rem;
  padding: 0 6rem;
  margin-top: 10rem; }
  @media only screen and (max-width: 652px) {
    .recent-work {
      grid-template-columns: repeat(1, 1fr); } }
  .recent-work-item {
    background: white; }

.client-img1 {
  width: 50rem;
  height: 100%;
  z-index: 5;
  position: relative;
  left: 5rem;
  top: 0; }
  @media only screen and (min-width: 1572px) {
    .client-img1 {
      left: 30%; } }
  @media only screen and (min-width: 122.75rem) {
    .client-img1 {
      right: -50%;
      left: 40%; } }
  @media only screen and (max-width: 956px) {
    .client-img1 {
      left: 0;
      width: 35rem; } }
  @media only screen and (max-width: 652px) {
    .client-img1 {
      left: 40%; } }

.triangle {
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
  background: #221D44;
  width: 35rem;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0; }

.relative {
  position: relative; }

.client-work-1 {
  width: 100%;
  height: 50rem;
  background: white; }
  @media only screen and (max-width: 956px) {
    .client-work-1 {
      width: 80%;
      margin-left: auto; } }
  .client-work-1-detail {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right; }

.client-work-2 {
  width: 100%;
  height: 50rem;
  background: white;
  position: relative;
  margin-top: -10rem; }
  @media only screen and (max-width: 956px) {
    .client-work-2 {
      width: 80%; } }
  @media only screen and (max-width: 652px) {
    .client-work-2 {
      top: 5rem; } }
  .client-work-2-detail {
    display: flex;
    align-items: flex-start;
    flex-direction: column; }

.client-work-3 {
  width: 100%;
  height: 50rem;
  background: white;
  top: 16rem; }
  @media only screen and (max-width: 956px) {
    .client-work-3 {
      width: 80%; } }
  @media only screen and (max-width: 652px) {
    .client-work-3 {
      left: 20%;
      top: 5rem; } }
  .client-work-3-detail {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 10rem;
    text-align: right; }

.client-work-4 {
  width: 100%;
  height: 50rem;
  background: white;
  position: relative;
  margin-top: -1rem; }
  @media only screen and (max-width: 956px) {
    .client-work-4 {
      width: 80%; } }
  .client-work-4-detail {
    display: flex;
    align-items: flex-start;
    flex-direction: column; }

.rect {
  width: 35rem;
  height: 100%;
  background: #01BBF0;
  position: absolute;
  top: -4rem; }

.semi-circle {
  width: 35rem;
  height: 17.5rem;
  background: #F93F57;
  border-radius: 17.5rem 17.5rem 0 0;
  transform: rotate(-90deg);
  position: absolute;
  top: 8rem;
  right: -9rem; }
  @media only screen and (max-width: 956px) {
    .semi-circle {
      left: 50%; } }

.semi-circle-arc {
  width: 35rem;
  height: 17.5rem;
  border-radius: 17.5rem 17.5rem 0 0;
  transform: rotate(90deg);
  position: absolute;
  border-top: 8rem solid #FBBA43;
  border-left: 8rem solid #FBBA43;
  border-right: 8rem solid #FBBA43;
  top: 2rem;
  left: -9rem; }

.client-img2 {
  width: 35rem;
  height: 100%;
  z-index: 5;
  position: relative;
  left: 10rem;
  top: 0;
  box-shadow: 0 5rem 8rem rgba(59, 59, 59, 0.3); }

.client-img3 {
  width: 38rem;
  height: 100%;
  z-index: 5;
  position: relative;
  left: 10rem;
  top: 4rem;
  box-shadow: 0 5rem 8rem rgba(59, 59, 59, 0.3); }
  @media only screen and (max-width: 956px) {
    .client-img3 {
      width: 32rem; } }
  @media only screen and (min-width: 1572px) {
    .client-img3 {
      left: 43%; } }
  @media only screen and (min-width: 122.75rem) {
    .client-img3 {
      right: -50%;
      left: 50%; } }
  @media only screen and (min-width: 2260px) {
    .client-img3 {
      left: 54%; } }

.companies {
  background-image: url(https://assets.website-files.com/5dcc4cad8cfd667007f46563/5dcc4cad8cfd660594f4657d_Superlab_BackgroundPattern_Clients.svg);
  background-color: #353535;
  background-size: auto 100%;
  justify-content: center;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  background-repeat: no-repeat;
  padding: 10rem 1rem; }
  .companies-heading {
    text-align: center;
    padding: 7rem 7rem; }

.container-companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6rem 12rem;
  margin-bottom: 6rem;
  margin-top: 4rem; }
  @media only screen and (max-width: 956px) {
    .container-companies {
      grid-gap: 4rem 8rem;
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (max-width: 652px) {
    .container-companies {
      grid-gap: 4rem 8rem;
      grid-template-columns: repeat(2, 1fr); } }

.footer-svg {
  width: 30rem;
  height: 100%;
  margin-top: -4.8rem;
  margin-left: 7rem; }

.footer-detail {
  margin-top: 4rem;
  padding: 9rem 7rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.social-link {
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%; }
  .social-link:not(:last-child) {
    margin-right: 2rem; }

.instagram {
  background-image: url(https://assets.website-files.com/5dcc4cad8cfd667007f46563/5dcc4cad8cfd66689af46597_logo-instagram.svg); }

.facebook {
  background-image: url(https://assets.website-files.com/5dcc4cad8cfd667007f46563/5dcc4cad8cfd6640ddf46586_logo-facebook.svg); }

.twitter {
  background-image: url(https://assets.website-files.com/5dcc4cad8cfd667007f46563/5dcc4cad8cfd660975f46596_logo-twitter.svg); }

.dribbble {
  background-image: url(https://assets.website-files.com/5dcc4cad8cfd667007f46563/5dcc4cad8cfd6634faf46587_logo-dribbble.svg); }
