$page-left-m: 7rem;
$page-right-m: 7rem;


$color-tertiary: #70da9b;

.text-left{
    text-align: left;
}

$font-primary:  'Poppins' ;
$font-secondary: 'Anonymous Pro' ;

.m-small{
    margin: 2rem
}

.mt-small{
    margin-top: 2rem
}

.mt-big{
    margin-top: 10rem;
}

.mt-medium{
    margin-top: 7rem;
}

.mr-small{
    margin-top: 2rem
}

.ml-small{
    margin-top: 2rem
}
.mb-small{
    margin-top: 2rem
}

$box-shawdow-big:0 5rem 8rem rgba(59, 59, 59, 0.3);