$primary-font: 'Poppins', ;
$secondary-font: 'Anonymous Pro', ;


.heading-primary{
    font-size: 8.3rem;
    font-weight: 700;
    font-family: $font-primary;
    line-height: 1;
    margin: 4rem 0;
    letter-spacing: -.3rem;

}

.text-primary{
    font-family: $font-secondary;
    word-spacing: .3rem;
    font-size: 2rem;
    font-weight: 400;
}

.text-secondary{
    font-family: $font-secondary;
    word-spacing: .3rem;
    font-size: 1.7rem;
    font-weight: 400;
}



.heading-secondary{
    font-size: 4rem;
    font-weight: 700;
    font-family: $font-primary;
    line-height: 1.3;
    letter-spacing: -.1srem;
}

.heading-secondary-white{
    color: #fff;
}

.heading-tertiary{
    font-size: 3rem;
    font-weight: 700;
    font-family: $font-primary;
    line-height: 1.3;
    letter-spacing: -.1rem;
}