.btn{

    background:#70da9b;
    padding: 2rem 3rem;
    transition: transform .3s ease-in;
    display: inline-block;

    &:hover{
        background: #5fe395;
        transform: translateY(-.3rem);
    }
}

.btn-arrow{
    margin-top: 4rem;
    padding: 2rem;
    background:#70da9b;
    display: inline-block;
}