.btn{

    background:#70da9b;
    padding: 2rem 3rem;
    transition: transform .3s ease-in;
    display: inline-block;

    @media only screen and (max-width: $bp-tab){
        position: absolute;
        bottom: 10rem;
        width: 80%;
        left: 0;
        text-align: center;
        transform: translateX(12%);
        color: #000;
    }
    

        &:hover{
        background: #5fe395;
        transform: translateY(-.3rem);
    }
}

.btn-arrow{
    margin-top: 4rem;
    padding: 2rem;
    background:#70da9b;
    display: inline-block;
}


.header-hamburger{
    display: none;
    position: relative;

    
    @media only screen and (max-width: $bp-tab){
    display: block;


    }

    

    &, 
    &::after,
    &::before{
        content: "";
        width: 5rem;
        height: .4rem;
        background: #000;
        transition: all .8s;
    
    }

    &::after,
    &::before{
       position: absolute;    
    }

    &::before{
        top: 1.5rem; 
        left: 0;   
     }

     
    
    
    
     &::after{
        top: -1.5rem; 
        left: 0;   
   
     }
   
}

.active{
    

    &::before{
        content: "" ;
        transform: rotate(405deg);  
        top: 0;
        background-color: #fff;
     }
    
     &::after{
        content: "" ;
        transform: rotate(-405deg); 
        top: 0; 
        background-color: #fff;

     }
}

